<form class="edit-title" [formGroup]="editTitleForm">
  <mat-form-field class="edit-title__field">
    <input matInput placeholder="Title" formControlName='title'>
  </mat-form-field>

  <mat-form-field class="edit-title__field">
    <mat-label>Year</mat-label>
    <mat-select formControlName="year">
      <mat-option *ngFor="let year of years" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="edit-title__field">
    <input matInput placeholder="Genre" formControlName='genre'>
  </mat-form-field>

  <button
    mat-raised-button
    (click)="onSubmit()"
    color="primary"
    class="edit-title__search-btn"
  >
    Submit
  </button>
</form>
  